.create-job {
  table {
    width: 60%;
    margin: auto;
    td,
    th {
      padding: 10px 20px;
      text-align: left;

      &:nth-child(even) {
        width: 75%;

        input,
        textarea {
          width: 100%;
          padding: 5px;
          font-size: 1em;
        }
        textarea {
          margin-left: 6px;
        }
      }
    }
  }

  button.submit {
    font-size: 1.3em;
    padding: 10px 20px;
    background-color: green;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
  }
}
